@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: #E6E6FA;
}

title {
	color:#3A3B3C;
	text-align:center;
	font-family: "Raleway", sans-serif;
	display:block;
	font-size:50px;
}

h1 {
	color:#a9a9a9;
	font-family: "Raleway", sans-serif;
	font-size:40px;
}

h2 {
	font-size:30px;
}	